@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

.panel{

    position: absolute;
    width: 1440px;
    height: 957px;
    left: -1px;
    top: 1066px;

    background: #090909;

}
body{
    font-family: 'Alatsi', sans-serif;
    font-style: normal;

}


.bb-green{
    background: #92ED98;
}


.bb-nav{
font-family: 'Alatsi', sans-serif;
font-style: normal;
font-weight: 100;
font-size: 1.2rem;
line-height: 2.1rem;
display: flex;
align-items: center;
color: #460B6F !important;
}

.logo-img{
    width:65px;
    font-family: 'Alatsi', sans-serif !important;
    font-style: normal;
    font-weight:300;
    font-size: 1.8rem;
    align-items: center;
}

.bb-home{
    /* Ellipse 14 */


    position: absolute;
    width: 20%;
    height: 20%;
    border-radius: 100%;
    display: inline-block;
    background: #A499D9;
}
.custom-padding { 
padding-top: 30px !important;
}


.section1 {
 width: 100%;
  background-position: center;
  background-size: cover;
}

.bbpromise {
background: #C5BAFA;
}

.promise {
padding-left: 100px !important;
}

.promise-heading { 
color:#190E4E;
font-family: 'Atlasi',sans-serif; 
font-weight: 600;
font-size: 30px;
}

.promise-list {
color:black;
font-family: 'Atlasi',sans-serif; 
font-weight: 600;
font-size: 18px;
}
.promise-img {
height: 380px; 
width: 500px;
}


::marker {
color: white;
text-indent: -10px !important;
}

@media only screen and (max-width: 600px) {
.promise-heading { 
color:#190E4E;
font-family: 'Atlasi',sans-serif; 
font-weight: 600;
font-size: 20px;
}

.promise-list {
color:black;
font-family: 'Atlasi',sans-serif; 
font-weight: 600;
font-size: 10px;
}

.promise {
padding-left: 25px !important;
}

.promise-img{
height: 200px; width: 300px;}

.custom-padding { 
padding-top: 20px !important;
}

}

.pt-2, .py-2 {
    padding-top: .5rem!important;
}

/****************************       ABOUT US     *********************************/

#About-us
{
    padding-top: 5%;
}
#about-p
{
    font-size: 25px;
    padding-top: 11%;
    padding-right: 10%;
    font-family: 'Lobster Two', cursive;
}

#plate-logo1
{
    width:100%;
    height:90%;
}

#about-img
{
    width:90%;
}

#about-logo
{
    padding: 0px;
}
.cont
{
    padding: 0px;
}

/*******************************BBD Features******************************************/

#BBDFeatures-heading
{
    margin:5%;
    text-align: center;
    font-family: 'Arvo', serif,bold,10px;
    color:#00A6E4

}

.special-skill-item
{
    border: 5px solid #00A6E4;
}

.Product-list
{
    border: 5px  solid #00A6E4;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: none;
    margin: 10px;
}

#Features-Breakfast
{
    padding-top: 5%;
}

.carousel-inner
{
    height:400px;
}

.carousel-img
{
    position: absolute;
    height:400px;
}
/***************************************Why Us**************************************/

#Why-us2
{
    text-align: right;
}

#why-us-cont
{
    
    margin-top: -30%;
    background-color: RGBA(0,166,228,0.4);
}

#why-us-img
{
    width:40%;
    height:60%;
}

.why-us
{
    margin:10%;
    font-size: 25px;
    font-family: 'Oi', cursive;
}

#why-us-head
{
    margin: 15% 10% 15% 0%;
    text-align: center;
    padding-right: 0px;
    font-size: 30px;
    font-family: 'Satisfy', cursive;
}

#Breakfast-why-us
{
    margin-top: 200px;
    font-size: 25px;
    margin: 73% 10% 10% 10%;
    font-family: 'Oi', cursive;
}

#Schedule-why-us
{
    margin-top:15%;
}

strong
{
  color: aliceblue;
}

h6{
    text-align: center;
    margin-top:20px;
    color: aqua;
    font-size: 25px;
}

#product
{
    margin-top: 50px;
}

#Why-us
{
    padding-top: 5%;
}

/** Footer**/

footer a {
  color: #fff;
  text-decoration:none;
}

footer a:hover, footer a:focus {
  color: #fff;
  text-decoration:none;
}

footer .form-control {
  
    border: none;
    resize: none;
    color: #fff;
    padding: 0.7em 1em;
}

.bb-video {
    width: 70%;
}
@media only screen and (min-width: 300px) and (max-width: 600px) {
    .bb-video {
        width: 95%;
    }
}

.tnc-padding {
    margin-top: 150px;
    margin-bottom: 101px;
}

@media only screen and (width: 768px) and (height: 1024px) {
    .tnc-padding {
        margin-top: 150px;
        margin-bottom: 210px;
    }
}

@media only screen and (width: 1024px) and (height: 1366px) {
    .tnc-padding {
        margin-top: 300px;
        margin-bottom: 648px;
    }
}

.card-title {
    font-family: 'Poppins', sans-serif;
    font-size: 20px !important;
}

.app-button {
    border: none;
    background: none;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.app-button:focus {
    outline: none;
}